html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  font-size: 0.85em; 
}

  html section, body section {
    width: 100%;
    position: relative; 
  }
    
  html div, body div {
    position: relative; 
  }


.montserrat, .montserrat-bold {
  /*font-family: "Montserrat", sans-serif; */
  font-family: 'Share Tech', sans-serif;
}

.montserrat-bold {
  font-weight: 7000; 
  /*font-size: 34px;*/

}

section.ui.page.grid {
  min-width: 0; 
}

section.ui.page.grid.padded {
  padding-top: 5%;
  padding-bottom: 7%; 
}

  section#splash {
  display: table;
  table-layout: fixed;
  height: inherit;
  width: 100%; 
  background-image: url("../images/trottier_background_edit.png");
  /*background-image: url("../images/Panorama-1810-2.jpg");  */


  }
    section#splash div.splash-background {
  display: table;
  table-layout: fixed;
  height: inherit;
  width: 100%; 
  /*background-image: url("../images/trottier_background.JPG");*/
  
  }
  section#splash div.splash-container {
    font-size: 1em;
    display: table-cell;
    width: 100%;
    height: 100%;
    padding-bottom: 3.5em; 
  }
    section#splash div.splash-container .splash-relative {
      width: 100%;
      height: 100%;
      position: relative; 
    }
    section#splash div.splash-container .splash-centerer {
      width: 100%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      text-align: center; 
    }
    section#splash div.splash-container div.splash-banner {
      width: 37.5%;
      margin: 0 auto; 

      /*background-image: url("images/McGill_Wordmark.svg.png");*/

    }
      section#splash div.splash-container div.splash-banner img {
        max-width: 100%;
        max-height: 100%;


      }
      section#splash div.splash-container div.splash-banner img.logo {
        position: absolute;
        width: 10%;
        width: 13vw;
        height: 13vw;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0; 
      }
      section#splash div.splash-container div.splash-banner h1.title {
        position: absolute;
        margin: 0;
        left: 0;
        right: 0;
        bottom: 2px;
        letter-spacing: 8px;
        line-height: 1.2em;
        font-size: 3em;
        font-size: 5.5vw;
        padding-left: 5px;
        color: #fafafa; 
      }
  section#splash div.splash-text {
    margin: 0 0 5px 0 !important;
    padding: 0 !important; 
    z-index: 14;
    color: #FFFFFF;
    font-size: 8em;
    border-bottom: solid;
    display: inline-block;
    text-align: left;
     font-family: 'Share Tech', sans-serif;

  }
    section#splash div.splash-text h2.title {
      line-height: 1.1em;
      font-size: 3em;
      font-size: 5.5vw;
      margin: 0;
      letter-spacing: 8px;
      padding-left: 5px;
      color: #FF0000; 
       font-family: 'Share Tech', sans-serif;

    }
    section#splash div.splash-text h2.title:focus {
      outline: 0px solid transparent; 
    }

/*    .typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: #FFFFFF;*/

    .typed-cursor {
    animation: 1s ease 0s normal none infinite running blink;
    font-weight: 100;
    font-size:  5.5vw;
    padding: 0 2px;
    color: #FFFFFF;
}


@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#navbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #5D5D55;
  /*background-color: #000000;*/

}
  #navbar .menu {
    /*background-color: #5D5D55;*/
      /*background-color: #000000;*/
      background-color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    border-bottom: solid;

  }

    #navbar .menu .item {
      font-size: 0.8em;
      width: 8em;
      padding-top: 1.2em;
      border-bottom: 4px solid transparent;
      color: #000000;
      font-weight: bold; 
      }

      #navbar .menu .item.wide {
        width: 15em; 
      }

    #navbar .menu .item.important {
      /*color: #fafafa;*/
      color: #000000;
      /*background-color: #FF0000; */

    }
      #navbar .menu .item.important:hover {
        background-color: #FF0000; 
      }

    #navbar .menu .item:hover {
      color: white;
      background: #FF0000;
      border-bottom: 3px solid #000000; 
    }

#navbar.fixed {
  position: fixed;
  top: 0;
  bottom: auto;
  z-index: 5; 
}

section#blurb {
  background: #FFFFFF;
  min-height: 240px;
  color: #fafafa; 
  /*color: #000000;*/
  /*border-bottom: solid #FF0000;*/
  border-bottom: solid #000000;

  background-image: url("../images/info_background_edit2.jpg");
");


}

  section#blurb .ui.page.grid.padded {
    padding-bottom: 5%; 
  }

  .lato_bulletin {
  /*font-family: "Lato", sans-serif;*/
  font-family: 'Share Tech', sans-serif;
  font-weight: 600; 
  font-size: 2.0em;
}

section#bulletin {
  background: #FFFFFF;
  min-height: 240px;
  color: #000000; 
  /*color: #000000;*/
  /*border-bottom: solid #FF0000;*/
  border-bottom: solid #000000;

  /*background-image: url("../images/info_background_edit.jpg");*/
");


}

  section#bulletin .ui.page.grid.padded {
    padding-bottom: 5%; 
  }
  section h2 {
  font-size: 4.5em;
  letter-spacing: 5px;
  line-height: 1.3em;
  margin: 0; 
  font-family: 'Share Tech', sans-serif;

}



.lato {
  /*font-family: "Lato", sans-serif;*/
  font-family: 'Share Tech', sans-serif;
  font-weight: 600; 
  font-size: 1.5em;
}

section#schedule {
  /*background: #FF0000 ;*/
  min-height: 80px;
  color: #000000;
  /*font-size: 3em;*/
  /*border-bottom: solid #FF0000;*/
    border-bottom: solid #000000;


}
  section#schedule .schedule.grid {
    margin-top: 20px; 

  }

    section#schedule .schedule_items {
    font-size: 1.3em;

  }

      section#schedule .schedule_day {
    font-size: 1.8em;

  }
section#sponsor {
  background: white;
  color: #000000; 
}
  section#sponsor img {
    padding: 10px 10px; 
  }
  section#sponsor p {
    margin-bottom: 5%; 
  }
  section#sponsor #sponsor-email {
    color: #FF0000;
    text-decoration: underline;
  }
  section#sponsor .tier {
    padding: 0 5%; }
  section#sponsor a, section#sponsor a:visited {
    text-decoration: none; 
  }
  section#sponsor img {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 16px; 
  }
  section#sponsor .platinum img {
    width: 44%; 
  }
  section#sponsor #aqr {
    width: 225px;
    height: auto; 
  }
  section#sponsor .gold img {
    width: 27.5%;
     }
  section#sponsor .silver img {
    width: 18.5%; 
  }
/*  section#sponsor .bronze {
    padding: 2% 5%; 
  }
  section#sponsor .bronze img {
    width: 14%; 
  }*/




