* { -webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box;	
			box-sizing: border-box; }

html {
	background: rgb(50, 45, 40) url("img/background/stars.jpg") no-repeat center fixed; 
	-webkit-background-size: cover;	
	-o-background-size: cover;
	background-size: cover;	
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font-family: 'Arvo', serif;
	margin: 0;
	overflow-x: hidden; 
	padding: 0;
}

#title { 
	display: block;
	height: auto; width: 90%; max-width: 35rem;
	margin: 4rem auto 0rem;
	padding: 0;	
}



/*-----Navigation-----*/
#icon {
	cursor: pointer;
	height: 25vw; width: 25vw;
	left: -1.5rem; top: -1rem;	
	opacity: 1;
	position: fixed;
	transition: .5s;
	z-index: 5;	

	animation: iconify 10s infinite normal;
}

#icon.icon-hover { 
	animation-iteration-count: 1;
	left: -1rem; top: -.5rem; 
}

#icon:hover { 
	animation-iteration-count: 1; 
}

@keyframes iconify {
	 2% 	{ -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
	 6%		{ -webkit-transform: scale3d(1.25, 0.75, 1); transform: scale3d(1.25, 0.75, 1); }
	10% 	{ -webkit-transform: scale3d(0.75, 1.25, 1); transform: scale3d(0.75, 1.25, 1); }
	12% 	{ -webkit-transform: scale3d(1.15, 0.85, 1); transform: scale3d(1.15, 0.85, 1); }
	14% 	{ -webkit-transform: scale3d(.95, 1.05, 1); transform: scale3d(.95, 1.05, 1); }
	16% 	{ -webkit-transform: scale3d(1.05, .95, 1); transform: scale3d(1.05, .95, 1); }
	20%		{ -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}
	
#menu {	
	display: none;
	left: 5%; top: 5%;
	padding: 0;
	position: fixed;	
	text-align: center;
	width: 90%; /*min-width: 21rem;*/
	z-index: 4;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu li:first-child {
	background-color: rgba(192, 0, 0, .75);
    border-top: none;
    color: #fff;
    font-size: 2rem;
    padding: .5rem;
}

#menu li:last-child {
	border-bottom: none;
}

.menu-link {
	background-color: rgba(255, 255, 255, .75);
	border-bottom: 1px solid #555;
	border-top: 1px solid #999;
	color: #000;
	font-size: 1rem;
	padding: 1rem;
	text-decoration: none;
}

.menu-link:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, .9);
}

a.menu-link { display: block; }



/*--------- News ----------*/
#news-container {
	background: rgba(0, 0, 0, .5);
	display: none;
	height: 100%;
	position: fixed;
	right: 5%; top: 0%;
	padding: 0 .5rem;
	width: 90%; /*min-width: 21rem;*/
	z-index: 3;
}

.table {
	display: table;
	height: 100%;
	width: 100%;
}

.table * {
	color: #fff;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
}

#news {
	max-height: 85vh;
	overflow: auto;
	margin: 0;
}

.news-item { margin: 0 0 1em 0; }

.dismiss-news { 
	position: absolute;
	height: 1.5rem !important; width: 1.5rem !important;
	right: .25rem; top: .25rem;
}

.dismiss-news:hover { background-color: rgba(128, 0, 0, .5); }

.news-header {
	background-color: rgba(192, 0, 0, .75);	
	padding: .5rem;
	position: relative;
}

.news-header h2 {
	color: #fff;
	height: 1rem;
	font-size: 1rem;
	margin: 0;
}

.news-body {
	background-color: rgba(255, 255, 255, .75);
	padding: .5rem;
	border-radius: 0 0 .5rem .5rem;
}

.news-body p {
	margin: .5rem 0;
	font-size: 1rem;
}

#clear-news {
	color: #fff;
	cursor: pointer;
	display: block;
	height: 7.5vh; max-height: 3rem;
	font-variant: small-caps;
}

#archive-link {	
	display: block;
	height: 7.5vh; max-height: 3rem;	
}



/*----------Tiles----------*/
#tile-container { margin: 0 auto 5rem;	width: 90%; }

.col25 	{ float: left; width: 50%; }
.col50 	{ float: left; width: 100%; }
.col100 { display: inline-block; width: 100%; }

.col25 .medium 	{ width: 46%; padding-bottom: 46%; margin-left: 2%; margin-right: 2%; }
.col25 .large 	{ width: 96%; padding-bottom: 96%; margin-left: 2%; margin-right: 2%; }

.col50 .medium 	{ width: 48%; padding-bottom: 48%; }
.col50 .wide 	{ width: 98%; padding-bottom: 48%; }
.col50 .large 	{ width: 98%; padding-bottom: 98%; }

.col100 .wide 	{ width: 99%; padding-bottom: 48%; }

.social { float: left; }
.social img { 
	transform: scale(1.05, 1.05);
	overflow: hidden;
}

#gallery { margin: 1% 0.5%; }

#gallery-collection {
	display: block;
	height: 100%; width: 1000%;
	overflow: hidden;
	position: absolute;
} 

#gallery-collection .gallery-photos {
	display: block;
	height: 100%; width: 100%;
	margin: 0;
	padding: 0;
}

#gallery-collection .gallery-photo { 
	float: left;
	width: 10%;
	height: 100%;
}

#gallery-collection img { 
	position: relative; 
	width: 100%;
}

.thumbnail {
	border: 1px solid #666;
	-webkit-border-radius: 0.5rem;	   
			border-radius: 0.5rem;
	box-shadow: 1px 1px .3em 0 #000; 
	cursor: pointer;
	float: left;
	margin: 1%;	
	overflow: hidden;
	position: relative;
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
			transition: all .3s ease-out;	   
}
.thumbnail:hover { 
	border: 1px solid #fff;
	box-shadow: 3px 3px 2em -.25em #111; 
}

.thumbnail img, .tile-title { 
	-webkit-border-radius: 0.5rem;
			border-radius: 0.5rem;
}

.medium img {
	position: absolute;
	min-width: 100%;
	max-height: 100%;
}

.wide img, .large img {
	position: absolute;
	max-width: 100%;
	min-height: 100%;
}

.tile-title {
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	height: 100%;
	padding: .5rem;
	position: absolute;
	width: 100%;
}

.tile-title h1 {
	color: #fff; 
	display: table-cell;
	font: 100 3rem 'Lato', sans-serif;
	text-align: center; 
	vertical-align: middle;
}

#googleMap {
	border-radius:inherit;
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.tile-layer {
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0);
	display: block;
	position: absolute;
	z-index: 2;
}

.schedule-title-container {
	float: right;
	position: absolute;
	right: .5rem; top: .5rem;
	text-align: right;
	z-index: 3;
}

.schedule-detail-container {
	margin: 4rem 0 0 .5rem;
	position: absolute;
}

.schedule-title {
	color: #aaa;
	display: block;
	font: 300 1.5rem 'Lato';
	transition: .25s;
}
.schedule-title:hover {
	color: #fff;
	font-size: 2.5rem;
}

.schedule-detail {
	color: #fff;
	display: none;
	font: 300 4vw 'Anonymous Pro';
	text-align: left;
}

.active-day {
	color: #fff;
	font: 300 2.5rem 'Lato', sans-serif;
}

.active-schedule {
	display: block;
}



/*-----Footer-----*/
#footer {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 1rem;
	margin-top: 8rem;
	text-align: center;
	padding: 1rem;
	width: 100%;
}

.email {
	color: rgba(0, 192, 0, 1);
	font: bold 'Lato', sans-serif;
	transition: 1s;
}

.email:hover {
	color: rgba(192, 0, 0, 1);
}


@media (min-width: 35rem) {
	#icon { width: 12vw; height: 12vw; }
	#icon:hover { left: -1rem; top: -.5rem; }

	#menu { width: 40%; left: 5%; }
	#news-container { width: 40%; right: 5%; }

	#tile-container { margin: 2rem auto 7rem; width: 60%; }

	.col100	{ display: inline-block; width: 99%; }

	#gallery { margin: 1%; }

	.tile-title h1 { font: 100 10vw 'Lato', sans-serif; }

	.schedule-title { font-size: 3vw; }
	.schedule-title:hover { font-size: 6vw; }
	.active-day { font-size: 6vw; }

	.schedule-detail { 
		font-size: 2.5vw;
		margin: 2rem; 
	}
}

@media (min-width: 70rem) {

	#title-container { transform: none; }

	#icon { width: 8vw; height: 8vw; }
	#icon:hover { left: -1rem; top: -.5rem; }

	#menu { width: 20%; left: 2.5%; }
	#news-container { width: 20%; right: 2.5%;
		padding: 1rem .25rem; display: block; }

	#tile-container { margin: 2rem auto 7rem; width: 50%; }

	.col25 	{ float: left; width: 25%; }
	.col50 	{ float: left; width: 50%; }		
	.col100	{ display: inline-block; width: 100%; }

	#gallery { margin: 0.5%; }

	.tile-title h1 { font: 100 4.5vw 'Lato', sans-serif; }

	.schedule-title { font-size: 1.5vw; }
	.schedule-title:hover { font-size: 3vw; }
	.active-day { font-size: 3vw; }
	.schedule-detail { font-size: 1vw; }
}



/*--------- Scrollbar ----------*/
/* For Chrome only */
::-webkit-scrollbar {
    width: 0;
}
 
::-webkit-scrollbar-track {
	background-color: transparent;
	box-shadow: inset 0 0 6px rgba(255, 255, 255, .5);    
}
 
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 0, 0, .5);
    border-radius: 1rem;
    box-shadow: inset 0 0 .5rem rgba(0, 0, 0, 1);
}
