/*	Nonzero1.0 by nodethirtythree design	http://www.nodethirtythree.com	missing in a maze*/
/* This controls the width of the fluid width layouts */
div.fluid {
	width: 90% !important;
}
/* This controls the width of the fixed width layouts */
div.fixed {
	width: 950px !important;
}
/* Basic Stuff */
* {
	margin: 0em;
	padding: 0em;
}
body {
	background-color: #fff;
	color: #000;
	font-size: 10pt;
	font-family: "Arial", Arial, Sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	letter-spacing: -1px;/* text-transform: lowercase; */
}
h3, h4, h5, h6 {
	color: #b3001a;
	font-weight: bold;
}
h1 span {
	font-weight: bold;
}
h3 span {
	font-weight: bold;
}
h4 span {
	font-weight: bold;
}
br.clear {
	clear: both;
}

img.floatTL {
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
	margin-top: 0.5em;
}
img.floatTL_Logo {
	float: left;

	margin-right: 1.5em;
	margin-bottom: 0em;
	margin-top: 0em;
	margin-left: 0px;
	padding-bottom: 0px;
	
}
img.main_page_img{
	margin-left: 50px;
	margin-bottom: 1em;
	margin-top: 1em;
	
	
	}
img.floatTR {
	float: right;
	margin-left: 2.5em;
	margin-bottom: 1.5em;
	margin-top: 0.5em;
}
a {
	text-decoration: underline;
	color: #D90000;
}
a:hover {
	text-decoration: none;
	color: #00F;
}
ul.links {
	list-style: none;
	
	
}
ul.links li {
	line-height: 2em;
}
ul.links li.first {
}
p {
	line-height: 1.8em;
}
/* Header */
#header {
	width: 100%;
	height: 75px;
	background: #fff url('images/redBanner.jpg') repeat-x;
}
#header_inner {
	position: relative;
	width: 950px;
	height: 122px;
	margin: 0 auto;
}
/* Logo */
#logo {
	position: absolute;
	bottom: -7px;
	left: 175px;
}
#logo h1 {
	display: inline;
	color: #000;
	font-size: 2.6em;
}
#logo h2 {
	display: inline;
	padding-left: 0.5em;
	color: #E5CCD0;
	font-size: 1.0em;
}
/* Menu */
#menu {
	position: absolute;
	right: -40px;
	bottom: 61px;
	width: 800px;
}
#menu ul {
	list-style: none;
}
#menu li {
	float: left;
}
#menu li a {
	margin-left: 0.5em;
	display: block;
	padding: 1.1em 1.4em 1.0em 1.4em;
	background: #B3001A ;
	font-family: Gill Sans, Verdana;
	color: #ffffff;
	font-weight: bold;
	font-size: 1.15em;/* text-transform: lowercase; */;
	text-decoration: none;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	
}
#menu li a.active {
	background: #B3001A;
	color: #ffffff;
}
/* Main */

#main {
	background: #fff url('images/n7.gif') 0px 1px repeat-x;
}

#main_inner p {
	text-align: justify;
	margin-bottom: 1.0em;
}
#main_inner ul {
	text-align: justify;
	margin-bottom: 2.0em;
}
#main_inner {
	position: relative;
	width: 950px;
	padding-top: 2em;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#main_inner h3, h4 {
	border-bottom: dotted 1px #E1E1E1;
	position: relative;
}
#main_inner h3 {
	font-size: 2.1em;
	padding-bottom: 0.1em;
	margin-top:0em;
	margin-bottom: 0.4em;
}
#main_inner h4 {
	font-size: 1.2em;
	padding-bottom: 0.175em;
	margin-bottom: 1.4em;
	margin-top: 0.95em;
}
#main_inner .post {
	position: relative;
}
#main_inner .post h3 {
	position: relative;
	font-size: 1.7em;
	padding-bottom: 1.2em;
}
#main_inner .post ul {
	text-align: justify;
	padding-left: 18px;
}
#main_inner .post ul.post_info {
	list-style: none;
	position: absolute;
	top: 3em;
	font-size: 0.8em;
}
#main_inner .post ul.post_info li {
	background-position: 0em 0.2em;
	background-repeat: no-repeat;
	display: inline;
	padding-left: 18px;
}
#main_inner .post ul.post_info li.date {
	background-image: url('images/n5.gif');
}
#main_inner .post ul.post_info li.comments {
	background-image: url('images/n6.gif');
	margin-left: 1.1em;
}
/* Footer */
#footer {
	width: 950px;
	margin: 0 auto;
	text-align: center;
	clear: both;
	
	margin-top: 1.0em;
	margin-bottom: 1.0em;
	padding-top: 1.0em;
	text-transform: lowercase;
	background: #DADADA url('images/greyfooter.jpg') repeat-x;
}
/* Search */
input.button {
	background: #CA2F2F url('images/n3.gif') repeat-x;
	color: #fff;
	border: solid 1px #A94B4B;
	font-weight: bold;
	text-transform: lowercase;
	font-size: 0.8em;
	height: 2.0em;
}
input.text {
	border: solid 1px #F1F1F1;
	font-size: 1.0em;
	padding: 0.25em 0.25em 0.25em 0.25em;
}
#search {
	position: relative;
	width: 100%;
	margin-bottom: 2.0em;
}
#search input.text {
	position: absolute;
	top: 0em;
	left: 0em;
	width: 9.5em;
}
#search input.button {
	position: absolute;
	top: 0em;
	right: 0em;
	min-width: 2.0em;
	max-width: 2.5em;
}
/* LAYOUT - 3 COLUMNS */
/* Primary content */
#primaryContent_3columns {
	position: relative;
	margin-right: 34em;
}
#columnA_3columns {
	position: relative;
	float: left;
	width: 100%;
	margin-right: -34em;
	padding-right: 2em;
}
/* Secondary Content */
#secondaryContent_3columns {
	float: right;
}
#columnB_3columns {
	width: 13.0em;
	float: left;
	padding: 0em 2em 0.5em 2em;
	border-left: dotted 1px #E1E1E1;
}
#columnC_3columns {
	width: 13.0em;
	float: left;
	padding: 0em 0em 0.5em 2em;
	border-left: dotted 1px #E1E1E1;
}
/* LAYOUT - 2 COLUMNS */
/* Primary content */
#primaryContent_2columns {
	position: relative;
	margin-right: 17em;
}
#columnA_2columns {
	position: relative;
	float: left;
	width: 100%;
	margin-right: -17em;
	padding-right: 2em;
}
/* Secondary Content */
#secondaryContent_2columns {
	float: right;
}
#columnC_2columns {
	width: 13.0em;
	float: left;
	padding: 0em 0em 0.5em 2em;
	border-left: dotted 1px #E1E1E1;
}
/* LAYOUT - COLUMNLESS */
/* Primary content */
#primaryContent_columnless {
	position: relative;
}
#columnA_columnless {
	position: relative;
	width: 100%;
}
#columnA_fixed {
	position: relative;
	width: 600px;
}


/* Table stuff */
table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}
