.page-wrap {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  //animation: gradient-fade-in 2s;
  background: linear-gradient(#999999, white 50%);

  @media (max-width: 775px) {
    display: block;
  }
}

@keyframes gradient-fade-in {
  from {
    transform: opacity(0);
  }
  to {
    transform: opacity(1);
  }
}

@keyframes gradient-fade-out {
  from {
    background: linear-gradient(white);
  }
  to {
    background: linear-gradient(#999999, white 50%);
  }
}

#large-header {
  position: absolute;
}
