/* Home Header */

.page-wrap {
  header {
    width: auto;
    height: auto;
    padding: calc(20px + 2vw);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .header-logo {
    margin: 0;
    height: calc(25px + 3vw);
    align-self: flex-start;
    z-index: 1;
  }

  .home-nav {
    margin: calc(5px + 0.25vw) 0 0 0;
  }

  .home-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: calc(200px + (230 - 200)*(100vw - 775px)/(1200 - 775));
    padding: 0;
    margin: 0;
  }

  .home-nav li {
    font-size: calc(12px + 0.5vw);

    &:before {
      content:"//";
      position: relative;
      left: -2px;
      color: #222;
    }
  }

  .home-nav a {
    color: #222;
  }

  .mobile-nav-toggle {
    width: calc(25px + 3vw);
    height: calc(25px + 3vw);
    display: none;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    z-index: 1;

    span {
      height: 2px;
      width: calc(25px + 3vw);
      margin: 3px 0;
      background: #ed1c24;
      transition: 0.2s ease-in-out;
    }
  }

  .mobile-nav-toggle.is-open {
    justify-content: center;
    span {
      position: absolute;
      margin: 0;
      transition: 0.17s ease-in-out;
    }
    span:nth-child(1) {
      transform-origin: center;
      transform: rotate(-45deg);
    }
    span:nth-child(2) {
      background: transparent;
    }
    span:nth-child(3) {
      transform-origin: center;
      transform: rotate(45deg);
    }
  }

  .mobile-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: calc(60px + 5vw) 0 calc(20px + 2vw) 0;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
    background: white;
    z-index: 1;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      text-align: center;
      font-size: calc(12px + 3vw);
      margin-bottom: 0.25em;
    }
    a {
      color: #222;
    }
  }
}

@media (max-width: 775px) {
  .page-wrap {
    header {
      flex-direction: row;
      justify-content: space-between;
    }
    .mobile-nav-toggle {
      display: flex;
    }
    .home-nav {
      display: none;
    }
    .mobile-nav.is-open {
      display: block;
      transform: translateY(0%);
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}
