.hero {
  display: block;
  width: 100%;
  margin-top: calc(25px + (90 - 20)*(100vw - 200px)/(1200 - 200));
}

.col1 {
  padding: 0 calc(25px + 0.5vw + 0.5vh);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  h1 {
    font-size: calc(20px + (90 - 20)*(100vw - 200px)/(1200 - 200));
    line-height: calc(1.15em + (2 - 1.15)*(100vw - 200px)/(1200 - 200));
    letter-spacing: calc(0.25px + 0.25vw);
    margin: 0;
  }
  h2 {
    font-size: calc(8px + (24 - 8)*(100vw - 200px)/(1200 - 200));
    margin: 0;
    margin-bottom: calc(10px + 1vw);
    padding-top: calc(5px + 0.1vw + 0.1vh);
  }
}

.hero-text {
  display: block;
  padding: calc((15px + 0.50vw)/2);
  padding-top: 0;
  flex: 0 1 auto;
}

.hero-crest {
  height: calc(50px + 1.5vh + 6vw);
  padding: calc((15px + 0.50vw)/2);
  padding-bottom: calc(15px + 0.50vw);
  size: contain;
  flex: 0 1 auto;
}

//Buttons
.hero-buttons {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-start;

  button {
    position: relative;
    display: inline-block;
    width: auto;
    padding: calc(5px + 1vw);
    margin-right: calc(5px + 1vw);
    border-radius: 4px;
    border-width: calc(1px + 0.05vw);
    border-color: #222;
    font-size: calc(8px + (24 - 8)*(100vw - 200px)/(1200 - 200));
    background-color: transparent;
    transition: 0.2s ease-out;
    perspective: 200px;
    cursor: pointer;
    text-align: center;

    &:hover {
      box-shadow: 0 calc(2px + 0.25vw) 1px 0 #ccc;
      transform: scale(1.02);
      transition: 0.1s ease-in;
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
/*
  button:before {
    content:"";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 90%;
    height: 121%;
    //background-color: pink;
    z-index: -1;

    &:hover {
    box-shadow: 0 calc(2px + 0.25vw) 0 0 #ccc;
    transform: scale(1.02);
    transform: rotateX(45deg);
    }
  }
*/

  a {
    color: #222;
  }
}
